<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="delete.css" />
    <title>Delete</title>
</head>

<body>
    <nav>
        <a href="/class"><button>View student list</button> </a>
        <a href="/addStudents"><button>Add Students page</button></a>
        <a href="/update"><button>Update Students page</button></a>
    </nav>
    <main>
        <!-- <button id="deleteStudentBtn" type="button" class="btn btn-danger">Click to delete a student from the class</button>
        <div id="deletionInfo"></div> -->

        <form action="#">
            <label for="StudentId">ID of student:</label><br>
            <input type="number" id="StudentId" name="id"><br>
            <input type="submit" value="Delete student" id="submit">
        </form>
        <div id="deletionInfo"></div>
    </main>

    <script src="delete.js"></script>
</body>

</html>