<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="class.css">
    <title>Class</title>
</head>

<body>
    <nav>
        <a href="/delete"><button>Go to the Delete Students page</button></a>
        <a href="/addStudents"><button>Go to the Add Students page</button></a>
    </nav>
    <h1>List of students in the "Tribes" class</h1>
    <main>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Average</th>
                </tr>
            </thead>
            <tbody id="tbody">
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Reuben</td>
                    <td>10</td>
                    <td>70</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td> Simon</td>
                    <td>13</td>
                    <td>88</td>
                </tr> -->

            </tbody>
        </table>
    </main>

    <script src="class.js"></script>
</body>

</html>