body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 243, 243);
    user-select: none;
}

nav {
    position: relative;
    left: 40px;
    top: 40px;
}

a{margin-left:20px ;}

main {
    margin-top: 100px;
    position: relative;
}

#deleteStudentBtn {
    position: absolute;
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#deletionInfo {
    position: absolute;
    margin: 150px 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}