<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>

<body>
    <nav class="topnav">
        <a class="active" href="#">Home</a>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
        <a href="#">Actions Screen</a>
    </nav>
    <h1>Welcome to Avner Bank</h1>

    <script src="home.css"></script>
</body>

</html>