*{
    font-family: Arial, Helvetica, sans-serif;
}
body 
{
    margin: 0;
    height: 100vh;
    background: rgb(174,174,198);
    background: radial-gradient(circle, rgba(174,174,198,1) 0%, rgba(4,5,241,1) 100%);
}

h1 {
    width:1200px;
    margin: 0 auto;
   color: aliceblue; 
    text-align: center;
    font-size: 5em;
    margin-top: 300px;
    -webkit-text-stroke: 2px rgb(17, 17, 119);
    user-select: none;
   
}

.topnav {
    overflow: hidden;
    background-color: rgb(41, 9, 99);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #398dba;
    color: white;
    font-weight: 700;
  }