<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signUp.css">
    <title>Sign up</title>
</head>
<body>
    <nav class="topnav">
        <a href="#">Home</a>
        <a class="active" href="#">Sign Up</a>
        <a href="#">Login</a>
        <a href="#">Actions Screen</a>
    </nav>
<h1>Sign up</h1>
    <script src="signUp.js"></script>
</body>
</html>