<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="actionsScreen.css">
    <title>Actions Screen</title>
</head>

<body>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/signUp">Sign Up</a>
        <a href="/login">Login</a>
        <a class="active" href="/actionsScreen">Actions Screen</a>
    </nav>
    <h1>Actions Screen</h1>
    <main>
        <div id="accountBalance">
            <p id="accountBalanceP"></p>
        </div>
        <div>
            <h3>Deposit money into your account</h3>
            <input type="number" id="depositInput" placeholder="Enter an amount to deposit">
            <button type="submit" id="depositBtn">Deposit</button>
        </div>
        <div>
            <h3>Withdraw money from your account</h3>
            <input type="number" id="withdrawInput" placeholder="Enter an amount to withdraw">
            <button type="submit" id="withdrawBtn">Withdraw</button>
        </div>
        <div>
            <h3 id="deleteAccount">Delete account</h3>
            <p>To delete your account enter the secret code</p>
            <input type="number" id="codeInput">
            <button type="submit" id="deleteAccountBtn">Delete account</button>
        </div>
        <div>
            <h3>Account balances by customer name</h3>
            <input type="text" id="customerNameInput" placeholder="Enter a customer user name">
            <button type="submit" id="accountBalanceBtn">View account balance</button>
        </div>
        <button id="test">test</button>
    </main>
    <script src="actionsScreen.js"></script>
</body>

</html>